<ion-app>
  <ion-content>
    <app-child [product]="items">
    </app-child>
    <app-reusablecard status="hold" updatedAt="25/04/2021 16:29" createdAt="24/04/2021"
    notes="we have two bags that are full, one with plastic and the other with glasses"></app-reusablecard>
  
  <app-reusablecard status="processing" updatedAt="24/04/2021 10:00" createdAt="23/04/2021"
    notes="we have two bags that are full"></app-reusablecard>

  <app-reusablecard status="finished" updatedAt="23/04/2021 18:00" createdAt="22/04/2021" value="$ 10,00"></app-reusablecard>
  </ion-content>
</ion-app>
